html
    title ATN
    link(rel="stylesheet", href="css/mystyle.css",type ="text/css")
    script(src="/script/myscript.js")
    body           
        div.logoandnavigationbar
            img(src="/images/logo.jfif", width="80%", height="330px")
            h1 ATN
            ul
                li: a(href="/") Home
                li: a(href="/about") About us
        
        div.about    
            p.Aboutus About us:
            p.Aboutustext For the last three generations we've aspired to turn our passion for family into a store where you can explore your creativity, imagination and create lasting memories.
        div.footer
            div.copyright Copyright by HoangDH - 2020