html
    title ATN
    link(rel="stylesheet", href="css/mystyle.css",type ="text/css")
    script(src="/script/myscript.js")
    body           
        div.logoandnavigationbar
            img(src="/images/logo.jfif", width="80%", height="330px")
            h1 ATN
            ul
                li: a(href="/") Home
                li: a(href="/about") About us
        div.bodycontent    
            table
                tr
                    td
                        img(src="/images/logo.jfif", width="50px", height="50px")
                        p.tdcontent1 Gau Cho
                        p.tdcontent2 Price: 1$
                    td
                        img(src="/images/logo.jfif", width="50px", height="50px")
                        p.tdcontent1 Gau Meo
                        p.tdcontent2 Price: 2$
                    td
                        img(src="/images/logo.jfif", width="50px", height="50px")
                        p.tdcontent1 Gau Bac Cuc
                        p.tdcontent2 Price: 3$
            
                    td
                        img(src="/images/logo.jfif", width="50px", height="50px")
                        p.tdcontent1 Gau Xam
                        p.tdcontent2 Price: 4$
                    td
                        img(src="/images/logo.jfif", width="50px", height="50px")
                        p.tdcontent1 Gau Nau
                        p.tdcontent2 Price: 5$
                    
        div.abovefooter
            div.login User <input type="String" name="" id="x">
            <input type="button" value="Login" onclick="hi()">
        div.footer
            div.copyright Copyright by HoangDH - 2020